/* Header */
h1 {
	color: darkblue;
	text-shadow: 1px 1px 1px antiquewhite;
}

/* Sample Code Language SubHeaders */
h3 {
	color: ghostwhite;
	text-shadow: 1px 1px 1px saddlebrown;
}

/* Sample Code */
pre {
	font-size: large;
	font-weight: bold;
}

.css-code {
	float: left;
	margin-right: 30px;
	margin-bottom: 20px;
}

br {
	clear: left;
}

/* Specially Colored Sample Code */
#blue-border em {
	color: blue;
	font-style: normal;
}

#red-border em {
	color: red;
	text-shadow: 1px 1px 0 saddlebrown;
	font-style: normal;
}

#green-border em {
	color: green;
	font-style: normal;
}

#yellow-border em {
	color: yellow;
	text-shadow: 1px 1px 0 saddlebrown;
	font-style: normal;
}

/* Captions and Images */
.caption {
	display: inline-block;
	margin: 20px;
	vertical-align: middle;
}

#blue {
	color: blue;
}

.arrow-up {
	display: inline-block;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid blue;
	margin: 20px;
	vertical-align: bottom;
}

#red {
	color: red;
}

.arrow-down {
	display: inline-block;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 100px solid red;
	margin: 20px;
	vertical-align: bottom;
}

#green {
	color: green;
}

.arrow-left {
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 40px solid transparent;
	border-bottom: 40px solid transparent;
	border-right: 40px solid green;
	margin: 20px;
	vertical-align: bottom;
}

#yellow {
	color: yellow;
}

.arrow-right {
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 70px solid transparent;
	border-bottom: 70px solid transparent;
	border-left: 70px solid yellow;
	margin: 20px;
	vertical-align: bottom;
}